@import 'https://fonts.googleapis.com/css?family=Short+Stack';

body {
  font-family: 'Short Stack', sans-serif;
  text-transform: uppercase;
}

.row {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.clearfix {
  clear: both;
  display: block;
}

.col {
  display: block;
  float: left;
}

.pic-frame {
  position: relative;
}

@media screen and (max-width: 970px){
  .col {
    width: 100%;
  }
  .pic-frame {
    display: block;
    width: 320px;
    margin: 0 auto;
  }
  .mobile-hide {
    display: none;
  }
}

.comment {
  margin: 0;
  padding: 0;
  color: #222;
  position: absolute;
  height: 40px;
  max-width: 197px;
  font-size: 21px;
  top: 82px;
  left: 78px;
  line-height: 0.97em;
  text-indent:-0.8em;
  word-wrap: break-word;

  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}

form {
  margin: 50px auto 30px auto;
  padding-left: 12px;
  font-size: 22px;
}

.hint {
  font-size: 22px;
  padding: 2px 0 0 192px;
  margin: 0;
  display: block;
  color: #ddd;
  text-decoration: none;
}

input[type=text] {
    padding: 2px 0;
    border: none;
    width: 400px;
    font-family: 'Short Stack', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
}

input[type=submit] {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    padding: 3px 15px;
    text-decoration: none;
    font-size: 22px;
    margin: 0 2px;
    cursor: pointer;
}

input:focus {
  outline: none;
}

.footer {
  text-align: center;
  text-transform: lowercase;
  margin: 190px 0 20px 0;
  color: #ccc;
}

.footer a {
  color: #ccc;
}
